*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html,body{
    height : 100%;
    width: 100%;
}

#main{  
    width: 100%;
    height: 100%;  
    background-color: rgb(139, 119, 119);
    margin: 30px; /*Margin adds space between elemets and 'padding adds space within the element'
    writing margin: 10px means 10px space from top,bottom,left and right, if write margin: 10px 15px 13px 20px then it means
    10px from top, 15 from right, 13 from bottom, 20 from left*/
    padding: 70px;
    background-image: url(https://plus.unsplash.com/premium_photo-1671734045770-4b9e1a5e53a0?w=2000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}