*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#title{
    font-size: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rect{
    display: flex;
}

.square{
    width: 175px;
    height: 175px;
    border-style: solid;
    border-width: 3px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
